:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: white;
  background: rgb(176,109,221);
  background: linear-gradient(123deg, rgba(176,109,221,1) 0%, rgba(255,85,85,1) 50%, rgba(255,198,118,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(background.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.list {
  background-color: rgba(255, 255, 255, 0.317);
}
