:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: white;
  background:
  linear-gradient(123deg, rgba(176,109,221,1) 0%, rgba(255,85,85,1) 50%, rgba(255,198,118,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(background.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.list {
  background-color: rgba(255, 255, 255, 0.317);
  backdrop-filter: blur(40px);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.424);
  opacity: 1; /* Firefox */
}

progress::-webkit-progress-value { 
  background: linear-gradient(123deg, rgba(176,109,221,1) 0%, rgba(255,85,85,1) 50%, rgba(255,198,118,1) 100%); 
  border-radius: 5px;
}
progress::-moz-progress-bar { 
  background: linear-gradient(123deg, rgba(176,109,221,1) 0%, rgba(255,85,85,1) 50%, rgba(255,198,118,1) 100%); 
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.436);
  box-shadow: 0 0 10px rgba(176, 109, 221, 0.511);
  border-radius: 5px;
}

